@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --side-bar-color: #4819a1;
    --text-color-primary: black;
    --text-color-secondary: white;
    --bgd-main-color: rgb(64, 92, 97, 0.1);
    --bgd-card-color: #FFFFFF;

    --font-weight-normal: normal;
    --font-weight-bold: bold;

    --bigger-font-size: 25px;
    --medium-font-size: 18px;
    --smaller-font-size: 15px;

    --box-shadow: 0 0 5px grey;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
}

.container div {
    padding: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: var(--font-weight-bold);
}

.icon {
    height: 25px;
    width: 25px;
}

a {
    text-decoration: none;
}

body .sticky {
    position: sticky;
    top: 0;
}

/* HEADER */

.header-container, .article {
    grid-template-columns: 2/4;
}

.header-container, 
.article-container {
    background-color: var(--bgd-card-color);
    color: var(--text-color-primary);
}

.header-container {
    height: 28vh;
    box-shadow: 0 3px 2px -1px rgb(178, 178, 178);
}

.header-container .header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
}

.header-container .header-bottom {
    display: flex;
    justify-content: start;
    align-items: center;
}

input[type="search"] {
    appearance: none;
    border-radius: 12px;
    background-color: var(--bgd-main-color);
    border: none;
    width: 70vh;
    height: 35px;
    margin-left: 15px;
    margin-right: 80px;
}

.avatar-image {
    border-radius: 50%;
}

.header-top .avatar-image {
    margin-left: 40px;
}

.account-name {
    color: var(--text-color-primary);
    font-size: var(--medium-font-size);
    font-weight: var(--font-weight-bold);
    margin-left: 10px;
}

.header-bottom .header-bottom-greeting {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header-bottom > button {
    color: var(--text-color-secondary);
    background-color: var(--side-bar-color);
    border-radius: 20px;
    height: 30px;
    width: 100px;
    margin-left: 15px;
    margin-bottom: -20px;
}

.header-bottom .small-font {
    font-size: var(--medium-font-size);
}

.header-bottom .account-name-text {
    margin-top: -20px;
    font-size: var(--bigger-font-size);
    font-weight: var(--font-weight-bold);
}


/* SIDEBAR */

.sidebar {
    grid-row: 1/4;
    background-color: var(--side-bar-color);
    color: var(--text-color-secondary);
}

.side-content {
    display: flex;
    justify-content: start;
    gap: 20px;
    color: var(--text-color-secondary);
    font-size: var(--medium-font-size);
}

.logo > p {
    font-size: var(--bigger-font-size);
    font-weight: bold;
    margin-left: 10px;
}


/* MAIN-CONTENT */
.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 4px;
    background-color: var(--bgd-main-color);
}

.article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 20px;
}

.article > h1 {
    grid-column: 1/4;
}

.article .card, .announcement-side-content,
.trending-side-content {
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    color: var(--text-color-primary);
    text-align: start;
}

.article .card {
    background: linear-gradient(to left, var(--bgd-card-color) 97%, #F76C6C 3%);
}

.card .title {
    font-weight: var(--font-weight-bold);
    font-size: var(--medium-font-size);
}

.card p {
    color: var(--text-color-primary);
    font-weight: var(--font-weight-normal);
    font-size: var(--smaller-font-size);
    padding: 5px;
}

.img {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

/* SIDE-CONTENT */
.announcement-side-content .announcement-box {
    height: 140px;
    color: var(--text-color-primary);
    font-size: 15px;
}

.side-title {
    font-size: 20px;
}

.announcement-side-content,
.trending-side-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: start;
    background: linear-gradient(to left, var(--bgd-card-color) 97%, #dac7f0 3%);
}

.announcement-side-content {
    grid-column: 3;
    grid-row: 2/4;
}

.announcement-side-content p,
.trending-side-content .title,
div .stretch {
   margin-top: 10px;
   border-bottom: 2px solid var(--bgd-main-color);
}

.trending-side-content {
    width: 255px;
}

.trending-side-content .title,
.announcement-side-content .title {
    font-weight: var(--font-weight-bold);
    font-size: var(--bigger-font-size);
}

.trending-side-content p {
    margin-top: 5px;
}

.profile-name {
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
}

div .stretch {
    display: flex;
    flex-direction: column;
}
/* PSEUDO-CLASSES */

.side-content:hover {
    background-color: rgb(0, 0, 0, 0.3);
}

button:hover,
.alert-bell:hover, .profile:hover,
 .account-name:hover {
    transform: scale(1.05);
}

.grow:hover {
    transform:scale(1.1);
}

